<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <system.webServer>
       <staticContent>
            <remove fileExtension=".css"/>
            <mimeMap fileExtension=".css" mimeType="text/css" />
       </staticContent>
       <rewrite>
           <rules>
               <rule name="React" stopProcessing="true">
                   <match url="(assets/.*|partials/.|index.html|..js|..svg|..png|..css|.*.css.|..tff|.*.woff.|..ico|.*..jpeg|.*..jpg)" />
                   <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_URI}" pattern="^/backend/*" negate="true" />
                    </conditions>
                    <action type="None" />
               </rule>
               <rule name="React2">
                   <match url="(.*)" />
                   <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_URI}" pattern="/backend/*" negate="true" />
                    </conditions>
                   <action type="Rewrite" url="index.html" />
               </rule>
           </rules>
       </rewrite>
   </system.webServer>
</configuration>